
<div class="body-game">
    <div class="container text-center menu-container">
      <h1 class="menu-title">Welcome to Money Simulator Game</h1>
      <div class="button-container">
          <button class="btn btn-primary" (click)="startGame()">
              <i class="fas fa-play"></i> Start Game
          </button>
          <button class="btn btn-secondary" (click)="showInstructions()">
              <i class="fas fa-info-circle"></i> Instructions
          </button>
          <button class="btn btn-info" (click)="goToLeaderboard()">
              <i class="fas fa-trophy"></i> View Leaderboard
          </button>
      </div>
    </div>
</div>

<div id="log-output"></div>